<appSettings>
  <!--Google/Ptc-->
  <add key="AuthType" value="Ptc" />

  <add key="GoogleEmail" value="" />
  <add key="GooglePassword" value="" />

  <add key="PtcUsername" value="" />
  <add key="PtcPassword" value="" />

  <add key="DefaultLatitude" value="41.89920" />
  <add key="DefaultLongitude" value="12.47401" />
  <add key="LevelOutput" value="time" />
  <!--2 Modes: "time": Every XXX seconds and "levelup" every levelup-->
  <add key="LevelTimeInterval" value="60" />
  <!--Pick 1 if levelup and time in seconds if "time"-->
  <add key="RecycleItemsInterval" value="60" />
  <!--Recycle Time in seconds-->
  <add key="Language" value="en_us" />
  <!--Languages english/german-->
  <add key="TransferType" value="duplicate" />
  <!--none/cp/leaveStrongest/duplicate/all Whitelists/blackslists for each type is in Program.cs-->
  <add key="TransferCPThreshold" value="0" />
  <!--transfer pokemon with CP less than this value if cp transfer type is selected. Whitelist in Program.cs-->
  <add key="EvolveAllGivenPokemons" value="false" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
  <add key="ItemRecyclingCount" value="250" />
  <add key="requestsDelay" value="200" />
  <!--Recycling item when count more than this value-->
  <add key="ItemRecycleFilter" value="Poke Ball:20, Great Ball:50, Ultra Ball:100, Master Ball:200, RazzBerry:20, Revive:20, Potion:0, Super Potion:0, Hyper Potion:50" />
</appSettings>
