<appSettings>
  <!--Google/Ptc-->
  <add key="AuthType" value="Google" />
  <!--Google-->
  <add key="GoogleEmail" value="" />
  <add key="GooglePassword" value="" />
  <!--Ptc-->
  <add key="PtcUsername" value="" />
  <add key="PtcPassword" value="" />
  <!--Location-->
  <add key="DefaultLatitude" value="41.89920" />
  <add key="DefaultLongitude" value="12.47401" />
  <!--Request Delay, increase if the bot is loop-restarting -->
  <add key="requestsDelay" value="200" />
  <!--Recycle settings-->
  <add key="ItemRecyclingCount" value="200" />
  <add key="ItemRecycleFilter" value="Poke Ball:20, Great Ball:50, Ultra Ball:100, Master Ball:50, RazzBerry:20, Revive:0, Potion:0, Super Potion:0, Hyper Potion:0, Max Potion:50, Max Revive:50" />
</appSettings>
